<?xml version="1.0"?>
<robot name="box">
    <link name="body">
        <!-- base -->
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0.01"/>
            <geometry>
                <box size="0.25 0.25 0.02"/>
            </geometry>
            <material name="blue">
                <color rgba="0 0 1 0.5" />
            </material>
        </visual>
        <!-- front -->
        <visual>
            <origin rpy="0 0 0" xyz="0.115 0 0.125"/>
            <geometry>
                <box size="0.02 0.25 0.25"/>
            </geometry>
            <material name="blue">
                <color rgba="0 0 1 0.5" />
            </material>
        </visual>
        <!-- back -->
        <visual>
            <origin rpy="0 0 0" xyz="-0.115 0 0.125"/>
            <geometry>
                <box size="0.02 0.25 0.25"/>
            </geometry>
            <material name="blue">
                <color rgba="0 0 1 0.5" />
            </material>
        </visual>
        <!-- left -->
        <visual>
            <origin rpy="0 0 0" xyz="0 0.115 0.125"/>
            <geometry>
                <box size="0.25 0.02 0.25"/>
            </geometry>
            <material name="blue">
                <color rgba="0 0 1 0.5" />
            </material>
        </visual>
        <!-- right -->
        <visual>
            <origin rpy="0 0 0" xyz="0 -0.115 0.125"/>
            <geometry>
                <box size="0.25 0.02 0.25"/>
            </geometry>
            <material name="blue">
                <color rgba="0 0 1 0.5" />
            </material>
        </visual>


        <collision>
            <origin rpy="0 0 0" xyz="0 0 0.01" />
            <geometry>
              <box size="0.25 0.25 0.02" />
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 0 0" xyz="0.115 0 0.125"/>
            <geometry>
                <box size="0.02 0.25 0.25"/>
            </geometry>
        </collision>
        
        <collision>
            <origin rpy="0 0 0" xyz="-0.115 0 0.125"/>
            <geometry>
                <box size="0.02 0.25 0.25"/>
            </geometry>
        </collision>
        
        <collision>
            <origin rpy="0 0 0" xyz="0 0.115 0.125"/>
            <geometry>
                <box size="0.25 0.02 0.25"/>
            </geometry>
        </collision>
        
        <collision>
            <origin rpy="0 0 0" xyz="0 -0.115 0.125"/>
            <geometry>
                <box size="0.25 0.02 0.25"/>
            </geometry>
        </collision>
    </link>
</robot>
